.button {
    @include button-base();
    color: $color__white;
    background: $background__button;
    @include input-border();
    @include focusable();

    &:hover {
        background: darken($background__button, 10%);
    }

    &:focus {
        background: darken($background__button, 20%);
        @include focusable-active();
    }

    &:active {
        color: darken($color__white, 20%);
    }
    &--search {
        line-height: 0;
        margin-left: -4px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    &--search:before {
        content: $icon__search;
        font-family: $font-family__icons;
        background-color: $background__check;
        margin-right: 1rem;
    }
}

.button-link {
    @include button-base();
    color: $color__link;
    background-color: transparent;
    border: 1px solid transparent;
    @include focusable();

    &:hover {
        background: darken($color__white, 10%);
    }

    &:focus {
        color: darken($color__link, 10%);
        @include focusable-active();
    }

    &:active {
        color: darken($color__link, 30%);
    }
}
