.search{
    padding: $padding__input;
    height: $size__inputs-buttons;
    max-width: 100%;
    font-weight: bold;
    color: $color__text-body;
    @include input-border();
    @include focusable();
    @include focusable();
    @media screen and (max-width: 768px) {
        width: auto;
    }
    @media screen and (max-width: 576px) {
        margin-left: 0;
    }

    &::placeholder {
        color: lighten($color__text-muted, 10%);
    }

    &:focus {
        @include focusable-active();
    }
    &--label {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

}

.search-field {
    width: 50%;
    display: inline-block;
    @media screen and (max-width: 576px) {
        display: block;
        width: 100%
    }

}

.brand {
    width: 30%;
    display: inline-block;
    @media screen and (max-width: 576px) {
        display: block;
        width: 100%
    }
}



