// Available color variables
// Aiming for “AA” of WCAG. 
// Test - http://colorsafe.co/
$color__white:         white;
$color__fiord:         #4F3265;
$color__black-russian: #72FF49;
$color__shuttle-grey:  #5f6358;
$color__grey:          #765576;
$color__royal-blue:    #1C5AEA;
$color__matisse:       #356889;